.container__clientes__admin{
    position: relative;
    top: 0;
    height: 180vh;
}
.contenedor__clientes{
    position: absolute;
    top: 150px;
    width: 97%;
    left: 50%;
    transform: translateX(-50%);
}
.cliente__btn__agregar{
    border: none;
    padding: 12px 60px;
    background-color: orange;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    --transform:translateY(-5px);
    transition: .5s;
}
.cliente__btn__agregar:hover{
    box-shadow: 1px 1px 3px 0px black; 
    color: black;
    background-color: rgba(255, 166, 0, 0.598);
    transform: var(--transform);
}
.cliente_titulo{
    font-size: 35px;
    letter-spacing:1px;
    margin-top:15px;
    text-align:center;
    margin-bottom:20px;
    background-color: gainsboro;
    border-radius: 7px;
}
.container__tabla__clientes{
    margin-top:20px;
    border-radius: 7px;
    max-height: 400px;
    min-height: 200px;
    overflow: auto;
}
.clientes__admin__table{
    margin-top:20px;
    border-radius: 7px;
    max-height: 400px;
    min-height: 200px;
    overflow: auto;
}
td{
    padding: 8px;
    height: 100%;
}
tr{
    height: 30px;
}
.btn_admin{
    border: none;
    padding: 9px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}
.btn__cliente__editar{
    border: 1px solid blue; 
}
.btn__cliente__editar:hover{
    background-color: blue;
    color: white;
}
.btn__cliente__eliminar{
    border: 1px solid red;
}
.btn__cliente__eliminar:hover{
    background-color: red;
    color: white;
}
.container__btn{
    display: flex;
    justify-content: space-evenly;
}