
.pagina__admin{
    position: relative;
    height: 180vh;
}
.container__img__admin{
    width: 100%;
    height:600px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top:150px;
    display: flex;
    align-items: center;
}
.img__graficas{
    width: 97%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imagen1{
    width:50%;
    height:100%;
    background-image: url(../../img/imagenAdmin1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.imagen2{
    width: 50%;
    height: 100%;
    background-image: url(../../img/imgenAdmin2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

