.contenedor_producto_admin{
 position: relative;
 top: 0;
 height: 180vh;
}
.contenedor_producto{
    position: absolute;
    top: 150px;
    width: 97%;
    left: 50%;
    transform: translateX(-50%);  
}
.producto_admi_titulo{
 font-size: 35px;
 letter-spacing: 1px;
}
.tituloCantidad{
    font-size: 25px;
    margin-bottom: 20px;   
}
.tituloProducto{
    font-size: 35px;
    letter-spacing:1px;
    margin-top:15px;
    text-align:center;
    margin-bottom:20px;
    background-color: gainsboro;
    border-radius: 7px;
}
.producto_admi_btn_crear{
    border: none;
    padding: 12px 60px;
    background-color: orange;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    --transform:translateY(-5px);
    transition: .5s;
}
.producto_admi_btn_crear:hover{
    box-shadow: 1px 1px 3px 0px black; 
    color: black;
    background-color: rgba(255, 166, 0, 0.598);
    transform: var(--transform);
}
.input_buscar{
    margin-left: 80px;
    
  
}

.producto_admi_tabla{
    margin-top:20px;
    border-radius: 7px;
    max-height: 400px;
    min-height: 200px;
    overflow: auto;
} 
td{
    padding: 8px;
    height: 100%;
}
tr{
    height: 30px;
}
.btn__producto_admin{
    border: none;
    padding: 9px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}
.btn__producto_admin__editar{
    border: 1px solid blue;
}
.btn__producto_admin__eliminar{
    border: 1px solid red
}
.btn__producto_admin__editar:hover{
    background-color: blue;
    color: white;
}
.btn__producto_admin__eliminar:hover{
    background-color: red;
    color: white;
}
tbody >tr >td:nth-child(6){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}