*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --borde:1px solid black;
}
.container__modal__compras{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 3006;
    width: 100%;
    height: 100%;
    background-image: url(../../img/compras_pan.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events:none;
    transition: opacity .8s;
}
.modal__salir__compras{
    position: absolute;
    top: 15px; ;
    right: 15px;
    font-size: 17px;
    color: orange;
    width: 30px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.modal__salir__compras:hover{
    background-color: rgba(255, 166, 0, 0.233);
    border-radius: 50%;
}
.modal__compras{
    width: 50%;
    height: 600px;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 6px 0px black;
    border-radius: 10px;
    border: 1px solid orange;
    transform: var(--mover);
    transition: transform .7s;
}
.mostrar__modal__compras{
    opacity: 1;
    pointer-events: unset;
    --mover:translateY(0);
}
.titulo__modal{
    text-align: center;
    margin-top:20px;
    width: 100%;
    height: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid orange;
}
.modal__formulario__compras{
    width: 80%;
    margin:25px auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
} 
