*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   :root{
       --b: 5px solid rgb(242, 12, 12);
       
    }
    .container-modal-registro{
       position: fixed;
       top: 0px;
       right: 0px;
       left: 0px;
       bottom: 0px;
       background-image: url(../../img/panaderos.jpg);
       background-repeat:no-repeat;
       background-size: cover;
       background-position:left;
       display: flex;
       justify-content: center;
       align-items: center;
       opacity: 0;
       z-index: 3007;
       pointer-events: none;
       transition:opacity 1s;   
   }
   .modal-salir{
    position: absolute;
    top: 15px; ;
    right: 15px;
    font-size: 17px;
    color: orange;
    width: 30px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-salir:hover{
    background-color: rgba(255, 166, 0, 0.233);
    border-radius: 50%;
}
.mostrar-modal-registro{
    pointer-events: unset;
    opacity: 1;
    --mover: translateY(0px);
    transition: transform 1s, opacity 1s;
}
   .modal-registro{
    width: 50%;
    height: 600px;
    gap: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 1px 1px 6px 0px black;
    border-radius: 10px;
    position: relative;
    border: 1px solid orange;
    transform: var(--mover);
    transition: transform 1s;
   }
   .caja-registros{
    display: flex;
    display: block;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 25px;
   }

   .caja__container{
    margin: auto;
    display: flex;
    width: 90%;
    height: max-content;
    justify-content: space-around;
    align-items: center;
   }
   .caja__registro{
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
   }
   .caja--select{
    margin-top: 10px;
   }
   .caja--top{
    margin-top: 10px;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
    max-height: max-content;
   }
     .modal-registro-titulo{
    width: 80%;
    margin: auto;
    border-bottom: 2px solid orange; 
    margin-top: 50px;
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-size: 25px;
    
}
.img-ver-registro{
    width: 30px;
    height: 30px;
    background-image: url(../../icon/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0px;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer; 
    pointer-events: unset;
}

.ocultar-registro{
    opacity: 1;
    pointer-events: unset;
    cursor: pointer;
}

.ojo-abierto-registro{
    width: 30px;
    height: 30px;
    background-image: url(../../icon/open.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0px;
    opacity: 1;
    transition: opacity 0.5s;
    pointer-events: unset;
    cursor: pointer; 
}

.input-registro:focus{
    outline: 1px solid orange;
    border-color: white;
}
.caja{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    gap: 20px;
}
@media  (max-width:769px) {
    .modal-registro{
        width: 60%;
        height:650px ;
    }
}
@media  (max-width:480px) {
    .modal-registro{
        width: 100%;
        height:100% ;
    }
}
.registro-btn{
    border: none;
    display: block;
    color: white;
    background-color: rgb(253, 167, 6);
    padding: 6px 26px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 6px 0px black;
    transform: translateY(0px);
    transition: transform 0.5s;
}
@media  (max-width:320px) {
    .cj_btn{
        width: 100%;
        position: relative;
        bottom:20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .caja--top{
        position: relative;
        bottom: 5px;
        width: 96%;
        
    }
    .caja__container{
        width: 100%;
    }
    .registro-btn{
        width: 100px;
    }
    .ocultar-registro{
        position: absolute;
        right: -60px;
    }
    .modal-registro-titulo{
        font-size: 18px;
        margin-top: 22px;
    }
    .modal-registro{
        border-radius: 0px;
        border-color: white;
        height: 100%;
        width: 100%;
    }
    .container-modal-registro {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    .label-modal-registro{
        font-size: 12px;
    }
    .caja-registros{
        margin-top: 15px;
    }
    .registro-btn{
        font-size: 11px;
    }
    .ocultar-registro{
        position: absolute;
        right: -28px;
    }
    .modal-registro{
        width: 100vw;
        height: 100vh;
    }
    
}