*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container__editar__perfil{
    position: fixed;
    top: 0px;
    z-index: 4000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/usuario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    pointer-events:none;
    transition: opacity .8s;
}
.modal__editar__perfil{
    width: 50%;
    height: 600px;
    background-color: white;
    box-shadow: 1px 1px 6px 0px black;
    border-radius: 10px;
    border: 1px solid orange;
    transform: var(--mover);
    transition: transform .7s;
}
.mostrar__modal__editar__perfil{
    opacity: 1;
    pointer-events: unset;
    --mover:translateY(0);
}
.titulo__modal__editar__perfil{
    margin: auto;
    margin-bottom:30px;
    width: 80%;
    text-align: center;
    padding:10px;
    font-size: 23px;
    border-bottom:2px solid orange;
}
.btn-modal{
    width: 184px;
    height: 40px;
    border: none;
    color: white;
    cursor: pointer;
    transform: translateX(0px);
    transition: transform 0.1s;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px black;
    
    
}
.btn-modal:hover{
    color: black;
    background-color: rgba(255, 166, 0, 0.598);
    transform: translateY(-6px);
    transition: transform 0.5s,color 0.5s;
}
.btn_modal_cliente{
    
   
}