
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root{
    --b: 1px solid black;
    --mover:  translateY(-800px);
}
.container-modal{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: url(../../img/panProductos_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 3007;
    pointer-events: none;
    transition:opacity 1s;
}
.mostrar-login{
    --mover:translateY(0px);
    opacity: 1;
    pointer-events: unset;
    transition: transform 1s, opacity 1s;
}
.modal{
    position: relative;
    transform: var(--mover);
    border: 1px solid orange;
    width: 400px;
    height: 500px;
    background-color: white;
    box-shadow: 1px 1px 6px 0px black;
    border-radius: 10px;
    transition: transform 1s;
}
.modal-titulo{
    width: 80%;
    margin: 0px auto;
    border-bottom: 2px solid orange; 
    margin-top: 70px;
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-size: 25px;
    
}
.modal-salir{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 17px;
    color: orange;
    width: 30px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-salir:hover{
    background-color: rgba(255, 166, 0, 0.233);
    border-radius: 50%;
}
.input{
    width: 160px;
    height: 30px;
    transition: 1s;
    border-radius: none;
}
.input:focus{
    outline: 1px solid orange;
    transition: 1s;
    border-color: white;
}
.modal-user{
    width: 30px;
    height: 30px;
    background-image: url(../../icon/user.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    margin-right: 20px;
}
.modal-contrasena{
    width: 30px;
    height: 30px;
    background-image: url(../../icon/lock.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:block;
    margin-right: 20px;
}
.ocultar{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    right: -40px;
}
.ojo-abierto{
    width: 30px;
    height: 30px;
    background-image: url(../../icon/open.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    right: -40px; 
    opacity: 1;
    transition: opacity 0.5s;
    pointer-events: unset;
    cursor: pointer; 
}
.img-ver{
    width: 30px;
    height: 30px;
    background-image: url(../../icon/close.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    right: -40px; 
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.5s;
    cursor: pointer;
}
.modal-formulario{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    justify-content: start;
    margin-top: 50px;
    position: relative;
}

.caja-1{
    position: relative;
    display:flex; 
    width: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7px;
   
}
.container__input__caja{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 7px;
    width: max-content;
    justify-content: center;
    align-items: center;
}
.container__input__caja >label:first-child{
    align-self: flex-start;
}
.caja-2{
    position: relative;
    display:flex;
    margin-top: -20px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;

  
}
.caja-3{
    position: absolute;
    height: 100px;
    top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    
}
.modal-btn-ingresar{
    width: 150px;
}
.modal-btn-cuenta{
    width: 150px;

}
.login-btn{
    border: none;
    display: block;
    width: 160px;
    color: white;
    background-color: rgb(253, 167, 6);
    padding: 6px 26px;
    border-radius: 8px;
    letter-spacing: 1.2px;
    cursor: pointer;
    box-shadow: 1px 1px 6px 0px black;
    transform: translateY(0px);
    transition: transform 0.5s;
}
.login-btn:hover{
    color: black;
    transform: translateY(-6px);
    transition: transform 0.5s,color 0.5s;
}

@media  (max-width:320px){
    .modal{
        height: 100%;
        width: 100%;
    }
    .img-ver{
        position: absolute;
        right: 10px;
    }
    .ojo-abierto{
        position: absolute;
        right: 10px;
    }
    .caja-3{
     flex-direction: column;
     gap: 15px;
     top: 167px;
    }
    .ocultar{
        right: -47px;
    }
    .login-btn{
        width: 160px;
    }
    .input{
        width: 123px;
        height: 26px;
    }
}