*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --b: 1px solid black;
    
}

.cont_modal_confirmar{
position: fixed;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-image: url(../../img/confirmar.jpg);
background-repeat: no-repeat;
background-size: cover;



 opacity: 0;
z-index: 3005;
transition: opacity .6s;
pointer-events: none;    
}
 
 .mostrar_modal_confirmar{
    --mover: translateY(0px);
    opacity: 1;
    pointer-events: unset;
    transition: transform 1s, opacity 1s;
}    

.modal_confirmar{
position: relative;
background-color:rgba(255, 166, 0, 0.822); 
width: 500px;
height: 220px;
border-radius: 10px;
text-align: center;
color: white;
box-shadow: 1px 1px 4px 0px black ;
 transform: var(--mover);
transition: transform .6s; 

}
.relativo{
    position: relative;
}
.modal_confirmar_titulo{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 8px;
    letter-spacing: 1.2px;
    border-bottom: 2px solid white;
    
    
   
}
.modal_texto{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 90%;
    
    
}

.modal_botones{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 20px;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
  
}
.modal_btn{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: black;
    --transform:translateY(-5px);
    transition: .5s;
}
.modal_btn:hover{
    box-shadow: 1px 1px 3px 0px black; 
    color: white;
    background-color: rgba(255, 166, 0, 0.598);
    transform: var(--transform);
    
}

