
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --b: 1px solid black;
}

.contenedor_modal_agregar{
    position: fixed ;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../../img/admincompra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 3001;
    transition: opacity 1s;
    pointer-events: none;
    
}
.mostrar_modal_admin_productos{
    --mover: translateY(0px);
    opacity: 1;
    pointer-events: unset;
    transition: transform 1s, opacity 1s;
}

 .mostrar_modal_editar_admin{
    --mover: translateY(0px);
    opacity: 1;
    pointer-events: unset;
    transition: transform 1s, opacity 1s;
}  
.modal_agregar_admin{
   
    width: 45%;
    height: 380px;
    background-color: white;
    box-shadow: 1px 1px 6px 0px black;
    border-radius: 10px;
     position: relative; 
    border: 1px solid orange;
    transform: var(--mover);
    transition: transform 1s;
     
}

.modal-agregar-titulo{
    width: 50%;
    margin: auto;
    border-bottom: 2px solid orange; 
    margin-top: 20px;
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-size: 25px;
    
}
.modal_agregar_salir{
    position: absolute;
    top: 20px; ;
    right: 25px;
    font-size: 17px;
    color: orange;
    width: 35px;
    height: 35px;
    font-weight: bolder;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal_agregar_salir:hover{
    background-color: rgba(255, 166, 0, 0.233);
    border-radius: 50%;
    color: black;
}

.cont_agregar_registro_admin{
    display: flex;
    display: block;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.cont__registro_admin{
    margin: auto;
    display: flex;
    width: 90%;
    height: max-content;
    justify-content: space-around;
    align-items: center;
}
.cont_registro{
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
}
.cont_agregar_btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    
}
.btn_agregar_admin{
    border: none;
    background-color: orange;
    color: white;
    padding: 10px 50px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    --transform:translateY(-5px);
    transition: .5s;
    
   
    
}
.btn_agregar_admin:hover{
    box-shadow: 1px 1px 3px 0px black; 
    color: black;
    background-color: rgba(255, 166, 0, 0.598);
    transform: var(--transform);
}
.btn_cancelar{
    border: 1px solid red;
    background-color: white;
    color: black;
}
.btn_cancelar:hover{
  background-color: rgb(255, 0, 0);
  color: white;
}

.btn_actualizar{
    border: 1px solid blue;
    background-color: white;
    color: black;

}
.btn_actualizar:hover{
 background-color: blue;
 color: white;
}