*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --b: 1px solid red ;
}
.container-mensaje{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 5000 ;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
}
.mostrar-mensaje{
    pointer-events: unset;
    opacity: 1;
    --mover:translateY(0px);
    transition: transform 1s, opacity 1s;
}

.modal-mensaje{
position: relative;
background-color:rgba(255, 166, 0, 0.822);
border-radius: 10px;
width: 400px;
height: 200px;
text-align: center;
color: white;
box-shadow: 1px 1px 4px 0px black ;
transform: var(--mover);
transition: transform 1s;
}

.modal-salir-mensaje{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.modal-salir-mensaje:hover{
    background-color: white;
    color:black;
    border-radius: 50%;

}

.modal-titulo-mensaje{
width: 90%;
margin: auto;
margin-top: 30px;
padding-bottom: 8px;
border-bottom: 2px solid white;
letter-spacing: 1.2px;
}

.modal-infor-mensaje{
    margin: auto; 
   margin-top: 20px;
   text-align: center;
   width: 90%;
}