*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.144);
}
.container__titulo{
    color: white;
    font-size: 18px;
    cursor: pointer;
    background-color: blue;
    width: 160px;
    margin: 30px auto;
    padding: 6px 27px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px black;
    /* animation-name:saltar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; */
    position: relative;
}
.container__sub{
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    width: 500px;
    height: 400px;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 128, 0, 0.336);
    color: black;
    top:37px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
.container__titulo:hover{
    animation-iteration-count: 0;
}
.container__titulo:hover > .container__sub{
    opacity: 1;
}
@keyframes saltar{
    0%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(0px);

    }
}

