*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.compras{
    position: relative;
    height: 180vh;
    width: 100%;
}
.compras__informacion{
    position: absolute;
    top: 130px;
}