
:root{
    --b:1px solid black;
}
.nav__formulario{
    display: flex;
    width:200px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
#nav_busqueda{
    width: 80%;
    height: 100%;
    font-size: 15px;
}
.icono__perfil{
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 5%;
    background-image: url(../../icon/icon_perfil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icono__perfil:hover > .nav_vertical{
    display: block;
}
.nav_vertical{
    position: absolute;
    list-style: none;
    background-color: orange;
    z-index: 4000;
    top: 33px;
    display: none;
    width: 140px;
    height: max-content;
    right: 0px;
}
.nav_vertical>li{
    width: 100%;
    height: 35px;
    padding-top: 8px;
    padding-left: 10px;
    background-color: orange;
}
.nav_vertical>li>a{
    color: black;
    width: 100%;
    display: block;
}
a{
    text-decoration: none;
}
.nav_vertical>li:hover{ 
    color: #000000;
}
.nav_vertical>li:hover >a{
    color: white;
}
.nav__icono__busqueda{
    width: 15%;
    height: 100%;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background-image: url(../../icon/icon_buscar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media  screen and  (max-width:769px){
    .nav__formulario{
        width: 90%;
        margin: 0px auto;
        display: flex;
        gap: 10px;
    }
    .container__icon{
        width: 90%;
        margin: 0px auto;
    }
    #nav_busqueda{
        width: 75%;
    }
    .nav_vertical>li:hover >a{
        color: black;
    }
    .nav_vertical>li:hover{
        background-color: white;
        box-shadow: 1px 1px 3px 0px black;
        transform: translateX(5px);
    }
    .nav_vertical>li{
        width: 100%;
        border-radius: 8px;
        margin-bottom: 5px;
        transition: 0.5s;
    }
    .nav_vertical>li>a{
        color: white;
    }
    .nav_vertical{
        left: 0px;
        width: 170px;
    }
}