:root{
    --b:1px solid black;
}
.pagina__cliente{
    height: 200vh;
    position: relative;
}
.container__fixed{
    width: 60px;
    height:30px;
    position: absolute;
    z-index: 3002;
    right:0px;
    top: 160px;
    display: flex;
    justify-content: end;
    transition: all 0.7s;

    --d:none;
}

.icono__flecha__left{
    width: 50%;
    height: 100%;
    background-image: url(../../icon/flecha__left.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    
}
.icono__flecha__right{
    width: 50%;
    height: 100%;
    background-image: url(../../icon/flecha__rigth.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    
}

.icono__reloj{
    width: 50%;
    height: 100%;
    background-image: url(../../icon/reloj.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    position: relative;
    
}
.container__fecha__hora{
    height: 70px;
    width: 130px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 79px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 8px;
    left: 40px;
    display: var(--d);

}
.mostrar__fecha__hora{
    right: 150px;
    --d:flex;
}   

@media (max-width:769px){
    .nav__formulario{
        width: 200px;
    }
    .pagina__cliente{
        height:160vh;
        position: relative;
        border: 3px solid orange;
    }
    .container__productos__venta{
        display: flex;
        flex-direction: column;
        gap: 10px;
        height:80%;
    }
    .container__lista__productos{
        width: 100%;
        height: 50%;
    }
    .container__detalles{
        width: 100%;
        height: 50%;
    }
    .productos__flex{
        width: 100%;
    }
}
@media (max-width:480px){
    .pagina__cliente{
        height:210vh;
    }
    .container__lista__productos{
        width: 100%;
        max-height: 70%;
        height: 60%;
    }
    .container__detalles{
        height: 70%;
    }
    .header-lista{
        width: 50%;
    }
    .container__productos__venta{
        height: 140vh;
    }
    thead{
        font-size: 12px;
    }
}
@media (max-width:320px){
    .pagina__cliente{
        height:350vh;
    }
    thead{
        font-size: 9px;  
    }
    td{
        font-size: 10px;
        
    }
    .header-lista{
        width: 60%;
    }
    .titulo__producto__venta{
        font-size: 19px;
    }
    .btn__detalle{
        font-size: 10px;
    }
    .detalle__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 80px;
        gap: 10px;
    }
}