/*
Archivo de los estilos del contenido de la pagina inicial
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
la pseudoclase :root nos permite crear variables de propiedades en css
*/
body{
    position: relative;
}
.contenido{
    position: absolute;
    width: 100%;
    top: 190px;
    margin: 0px auto;
}
.sub-container{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenido-presentacion{
    width: 34%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}



.contenido-titulo{
    font-size: 35px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px;
    width: 100%;
    margin: auto;

    position: sticky;
    z-index: 1000;
    top: 0px;
    background-color: rgba(255, 166, 0, 0.738);
    border-radius: 13px;
}
.contenido-parrafo{
    text-align: justify;
    width: 95%;
    margin: 30px auto;
}
.slider{
    width: 60%;
    display: flex;
    gap: 8px;
    align-items: center;
}
.slider-container{
    width: 800px;
    height: 400px;
    position: relative;
}

.slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 0px rgba(255, 166, 0, 0.553);
}

.btn{
    height: 40px;
    width: 40px;
    cursor: pointer;
    object-fit: cover;
    transform: translateX(0px);
    transition: transform 0.1s;
    background-color: orange;
    border-radius: 10px;
}
.slider-back:active{
    transform: translateX(-14px);
    transition: transform 0.1s;
}
.slider-right:active{
    transform: translateX(14px);
    transition: transform 0.1s;
}
.slider-body{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* .slider-body:hover > .descripcion{
    top: 0px;
    opacity: 1;
    transition: top 1s;
} */
/* .descripcion{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid black;
    opacity: 0;
    pointer-events: none;
    
} */


.mostrar{
    opacity: 1;
    transition: opacity 1s;
}


