.container-footer{
    width: 100%;
    height: 230px;
    background-color: rgba(255, 166, 0, 0.647);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0px;
    
}
.footer-info{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
}
.info-contacto{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-titulo{
    font-weight: 600;
    color: black;
    letter-spacing: 0.4px;
}
span{
    font-weight: 400;
}
.footer-redes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-media{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.img-facebook{
    background-image: url("../../icon/s_facebook.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 100%;
}
.img-twitter{
    background-image: url("../../icon/s_twitter.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 100%;
   
}
.img-instagram{
    width: 30px;
    height: 30px;
    background-image: url("../../icon/sinstagram.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 100%;
}
.red{
    position: relative;
}
.red-social{
    display: block;
    position: absolute;
    text-decoration: none;
    letter-spacing: 0.4px;
    left: 30px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}
.red:hover > .red-social{
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.5s;
}