body{
    height: 170vh;
}

@media (max-width:1246px){
    body{
        height: 100vh;
    }
}
@media (max-width:769px){
    body{
        height: 160vh;
    }
    .nosotros-info{
        margin-top: 30px;
        display: flex;
        height: 600px;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
        align-items: center;
    }
    .header-lista{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 20px;
        position: fixed;
        background-color: orange;
        padding-top: 30px;
        width: 33%;
        height: 100%;
        top: 122px;
        left: -1000px;
        transition: left 0.6s;
        
    }
    .sub-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contenido-presentacion,.slider{
        width: 100%;
    }     
    .header-lista > .header-item:hover{
        background-color: white;
    }
    .menu{
        width: 30px;
        height: 30px;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        position: relative;
    }
    #check:checked ~ .header-lista{
        left: 0px;        
    }
    #check:checked ~ .menu > .linea-medio{
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.6;
    }
    #check:checked ~ .menu > .linea-arriba{
        transform: rotate(130deg);
        position: absolute;
        transition: 0.6s;
    }
    #check:checked ~ .menu > .linea-abajo{
        transform: rotate(-130deg);
        position: absolute;
        transition: 0.6s;
    }
    
    .linea{
        width: 100%;
        height: 4px;
        background-color: orange;
        transition: 0.6s;
    }
    
    
    .header-item{
        width: 90%;
        margin: 0px auto;
        /* border: 1px solid black; */
        text-align: left;
        --transform:translateX(5px);
    }
    .header-item:hover{
        transform: translateX(5px) ;
    }
    
} 
@media (max-height:608px){
    body{
        height: 260vh;
    }
}

@media (max-width:480px){
    /* body{
        height: 200vh;
    } */
    .sub-container{
        display: flex;
        flex-direction: column;
    }
    .contenido-presentacion{
        width: 100%;
        height: 370px;
        
    }
    .slider{
        width: 100%;
    }
    
}
@media  (max-width:320px) {
    body{
        height: 340vh;
    }
    .container-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        justify-content: center;
        gap: 20px;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-redes{
        width: 250px;
        
    }
    .titulo-redes-sociales{
        text-align: center;
    }
    .header-lista{
        width: 150px;
    }
    
}
/* 
*/