/*
Archivo de los estilos de la barra de negacion de inicio
importamos desde google fonts las fuentes que utulizaremos para la app
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
la pseudoclase :root nos permite crear variables de propiedades en css
*/

:root{
    
    --colorFont:white;
}

.header{
    width: 100%;
    height: 140px;
    position: fixed;
    z-index: 3000;
    background-color: white;
}

.header-icon{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 20px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}
.header-titulo{
    font-weight: bolder;
    letter-spacing: 0.4px;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}
.header-nav{
    width: 97%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px black;
}
.header-lista{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 40px;
    list-style: none;
    margin-right: 20px;
    --transform:translateY(-5px);
}
.header-lista>li{
    padding: 4px 6px ;
    height: 30px;
    border-radius: 10px;
    transform: translateY(0px);
    background-color: orange;
    transition-property: background-color,transform;
    transition-duration: 0.5s;
    cursor: pointer;
}
.header-lista>li:hover{
    transform: var(--transform);
    --colorFont:black;
    box-shadow: 1px 1px 3px 0px black;
    background-color: rgba(255, 166, 0, 0.598);

}
.header-lista>li>a{
    text-decoration: none;
    color: var(--colorFont);
    transition: color 0.6s;
}

#check{
    display: none;
}
.active{
   border-bottom: 2px solid black;

}
