.container-nosotros{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nosotros-img{
    width:97%;
    height: 400px;
    object-fit:initial;
    border-radius: 5px;
}
.nosotros-info{
    display: flex;
    margin-top: 30px;
    gap:20px;
    padding: 20px;
}
.titulo{
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
}


