
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --b: 1px solid red;
}

.pagina{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.pagina-img{
    width: 60%;
}
.img-pan{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

.pagina-titulo{
    color: orange;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    
}
.pagina-inicio{
    display: block;
    padding: 10px 26px;
    background-color: orange;
    margin-top: 70px ;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transform: translateY(0px);
    transition: transform .5s ; 
    box-shadow: 1px 1px 6px 0px black;
}
.pagina-inicio:hover{
    transform: translateY(-6px);
    color: black;
    transition: transform .5s, color .5s ;
    
}