*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --b:1px solid black;
}
.container-productos{
    width:100%;
    height:50%;
    position:absolute;
    top:140px;
}
.grid-productos{
    width:98%;
    max-height:100%;
    display:flex;
    margin: 0px auto;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow:auto;
    gap: 5px;
}
.titulo{
    border-radius: 8px;
    font-size: 15px;
    background-color: orange;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    border: 2px solid orange;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    transition: .7s;
}
.card:hover{
    transform: scale(0.9);
    
}
tr:hover{
    background-color: rgba(255, 166, 0, 0.153);
}
.card--producto--venta{
    height: 480px;
}
.card-img-producto{
    width: 90%;
    height: 150px;
    margin: auto;
    object-fit: cover;
    margin-top: 5px;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
}
.card-descripcion{
    margin-top: 10px;
    text-align: center;
}
.card-precio{
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 5px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    border-top: 2px solid orange;
    padding-top: 5px;
}
.icon__shop{
    background-image: url(../../icon/car.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 100%;
    cursor: pointer;
}
.card__select{
    width: 80%;
    height: 30px;
    margin:10px auto;
}
#producto__select{
    height:100%;
    width: 160px;
    cursor: pointer;
}
.form__cantidad{
   display: flex;
   justify-content: space-between;
   width: 80%;
   height: 30px;
   margin:8px auto;
}
.precio{
    font-weight: bolder;
}



.container__productos__venta{
    display: flex;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
    width: 97%;
    position: relative;
    top: 140px;
    height: 105vh;
}
.container__lista__productos{
    width: 50%;
    max-height: 100%;
    overflow: auto;

    
}
.productos__flex{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.titulo__producto__venta{
    text-align: center;
    font-size: 22px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 304;
    background-color: gainsboro;
    margin-bottom: 10px;
    color: black;
    border-radius: 7px;
}
.container__detalles{
    width: 48%;
    top:0px;
    right: 0px;


}
.container__detalles > div{
    max-height: 400px;
    min-height: 200px;
    overflow: auto;
   
}
.detalle__info{
    width: 100%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
table{
    width: 100%;
    border-spacing: 0px;
    border-radius: 7px; 
}
thead{
    text-align: center;
    height: 50px;
    background-color: orange;
    color: white;
    position: sticky;
    top: -1px;
}
td{
    height: 35px;
    text-align: center;
}

.btn__detalle{
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}
.btn__detalle__editar{
    border: 1px solid blue;
}
.btn__detalle__eliminar{
    border: 1px solid red;
}
.btn__detalle__editar:hover{
    background-color: blue;
    color: white;
}
.btn__detalle__eliminar:hover{
    background-color: red;
    color: white;
}
tbody >tr >td:nth-child(6){
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.detalle-total{
    color: orange;
}
.btn-detalle{
    display: block;
    height: 30px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 8px;
    padding: 4px 6px ;
    transition: .5s;
    font-size: 15px;
    cursor: pointer;
    margin-right: 20px;

    animation-name: escalar;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}

.btn-detalle:hover{
    
    box-shadow: 1px 1px 3px 0px black; 
    color: black;
    background-color: rgba(255, 166, 0, 0.598);
    animation: none;
}
.detalle-monto{
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin-left: 20px;
}
.container__informacion__adicional{
    width: 100%;
    border: var(--b);
    height: 140px;
    
}
@keyframes escalar {
    0%{
        transform: scale(.8);

    }
    100%{
        transform: scale(1);
    }
    
}
@media screen and (max-width:769px) {
    .titulo__producto__venta{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .input__busqueda{
        min-width: 160px;
        width: 160px;
        display: block;
    }
    
}



